---
- name: Deploy application into EKS cluster
  hosts: appserver
  gather_facts: no
  become: yes
  become_user: ec2-user
  tasks:

    - name: Copy Kubernetes deployment file to app server
      copy:
        src: "{{ playbook_dir }}/k8s_deployment.yaml"
        dest: /home/ec2-user/k8s_deployment.yaml
        mode: '0644'

    - name: Apply Kubernetes deployment
      command: kubectl apply -f /home/ec2-user/k8s_deployment.yaml
      environment:
        KUBECONFIG: /home/ec2-user/.kube/config

